<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/summernote-bs4.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body class="d-flex flex-column min-vh-100">

<div class="wrapper">
    <%- include('../partials/navbar.ejs') %>
    <main>
        <%- body %>
    </main>
</div>
<%- include('../partials/footer.ejs') %>

<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/bootstrap.bundle.min.js"></script>
<script src="/public/js/summernote-bs4.min.js"></script>
<script src="/public/js/script.js"></script>
</body>
</html>
