<div class="row mt-4">
    <div class="col-md-6">
        <a href="/articles/<%= article.id %>" class="card-link">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><%= article.title %></h4>
                    <h5 class="card-subtitle mb-2 text-muted"><%= article.subtitle %></h5>
                    <p>Published at: <%= article.published_at %></p>
                </div>
            </div>
        </a>
    </div>
</div>