<div class="container">
    <h1 class="mt-5">Author - Settings Page</h1>

    <div class="mt-2">
        <a href="/articles/dashboard" class="btn btn-secondary">Back</a>
    </div>

    <div class="mt-4">
        <form action="/update" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= title %>" required>
            </div>
            <div class="form-group">
                <label for="subtitle">Subtitle</label>
                <input type="text" class="form-control" id="subtitle" name="subtitle" value="<%= subtitle %>" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control summernote-editor" id="description" name="description" rows="4" required>
                    <%- description %>
                </textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
